/* Navbar */
.navbar {
    background-color: #ececec;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 100px;
    font-weight: bold;
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Grid للكتب */
.book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 أعمدة */
    gap: 20px; /* المسافة بين الكتب */
    padding: 20px;
    margin-top: 200px;
}

/* كل كتاب كـ Card */
.book-card {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.book-card h2 {
    margin-bottom: 10px;
}

.book-card p {
    color: #555;
    margin-bottom: 10px;
}

.book-card button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.book-card button:hover {
    background-color: #0056b3;
}
.TopPage {
    background-color: #faf3e5;
    padding: 40px;
    padding-left: 0px;
    padding-right: 0px;
    
}
.TopPage h1{
    color: #0056b3;
    margin-bottom: 15px;
    text-align: center;
}
body {
      margin: 0;
      padding: 0;
}
header {
  position: fixed;     /* يخليه ثابت */
  top: 0;              /* يثبت بالأعلى */
  left: 0;
  width: 100%;         /* يغطي عرض الصفحة كامل */
  background-color: white; /* اختياري - عشان ما يختلط مع الخلفية */
  z-index: 1000;       /* يخليه فوق باقي العناصر */
}
.logo {
    display: flex;
    align-items: center; /* يخلي الصورة والعنوان في نفس الخط */
    gap: 10px; /* مسافة بسيطة بينهم */
}

.logo img {
    width: 60px;   /* حجم الصورة */
    height: 60px;  /* تقدر تغيره حسب شكل اللوقو */
    object-fit: cover; /* يمنع تمدد الصورة */
    border-radius: 8px; /* يعطيها زوايا ناعمة (اختياري) */
}

